:root {
    --rose: #e6007e;
    --bleu: #116999;
    --bleu-clair: #1CAFFF;
}

html {
    height: 100%;
}

body {
    background-color: white;
    border-top: 0.5rem solid var(--bleu);
    border-left: 0.5rem solid var(--rose);
    border-radius: 5px;
}

h1,
h2 {
    text-align: center;
    color: var(--bleu);
}

#form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    padding: 1rem;
    border: 0.5rem solid var(--rose);
    border-radius: 5px;
    min-width: 600px;
}

fieldset>label,
form>label {
    display: block;
    margin-bottom: 1rem;
}

input[type=text] {
    min-width: 400px;
}

label>span {
    display: inline-block;
    min-width: 130px;
}

#submit {
    color: white;
    background-color: var(--bleu);
    border-radius: 5px;
    padding: 10px;
    border: none;
    float: right;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(17, 105, 153, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
    display: none;
}

#modal-content {
    border: 0.5rem solid var(--bleu);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50%;
    padding: 50px;
}

#progress-bar-wrapper {
    border: 1px solid var(--rose);
    height: 24px;
    width: 100%;
}

#progress-bar {
    height: 100%;
    width: 0px;
    background-color: var(--rose);
}

#status {
    padding: 1rem;
    text-align: center;
}

fieldset {
    margin-bottom: 1rem;
    border-top-width: 1rem;
    border-top-style: solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: lightgrey;
}

legend {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}